<p id="notice"><%= notice %></p>

  <p class = "dateil-top">
    <strong>Text :</strong>
    <%= @feed.text%>
  </p>
  <p class = "dateil-bottom">
    <strong>Image :</strong>
    <%= image_tag @feed.image.url %>
  </p>
<div class = "btn-center">
  <%= link_to 'Edit', edit_feed_path(@feed) %> |
  <%= link_to 'Back', feeds_path %>
</div>
