<h1><%= @user.name %>のページ</h1>
<p class = "after-login">メールアドレス: <%= @user.email %></p>
<p>
    <%
=begin%>
 <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
    </div> 
<%
=end%>
<p>
  <strong>Image:</strong>
  <%
=begin%>
 <%= image_tag @user.image.url %> 
<%
=end%>
</p>

</p>